// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Cropperjs
@import '~cropperjs/src/index';

@import '~xzoom/src/xzoom';

//stackPhoto
@import 'stackPhoto';

